body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #262525;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #333333;
}
a:hover,
a:focus {
  color: #0085A1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  color: #777777;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom {
  font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}