body {
    font-family: sans-serif;
    background-color: lightgrey;
    background-image: url("/ui/background.jpg");
    margin-top: 75px;
    background-repeat: no-repeat;
    background-size: cover;

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.white {
  color: white;
}

.brown {
  color: brown;
}

.yellow {
  color: yellow;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

.background-image {
  max-width: 1000px;
}
