body {
    font-family: sans-serif;
    margin-top: 60px;
    background-color: #e8ffff;


}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.white {
  color: white;
}

.yellow {
  color: yellow;
}

.bold {
    font-weight: bold;
}

.brown {
  color: brown;
}

.img-medium {
    height: 300px;
}

.background-image {
  max-width: 1000px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  color: #443939;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}